/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: rgb(48, 233, 97);
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header Styles */
header {
    background-color: darkblue;
    color: rgb(49, 255, 176);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.site-title {
    color: rgb(13, 240, 13);
    font-size: 24px;
    display: flex;
    align-items: center;
}

.site-title img {
    width: 40px; /* Adjust the size as needed */
    height: auto;
    margin-left: 10px;
}

.header-links {
    display: flex;
    align-items: center;
}

.header-links a {
    color: rgb(49, 255, 176);
    text-decoration: none;
    margin-left: 15px;
    font-size: 18px;
    transition: color 0.3s;
}

.header-links a:hover {
    color: rgb(13, 240, 13);
}

/* Main Content Styles */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    text-align: center;
}

.main-logo img {
    width: 300px; /* Adjust the size as needed */
    height: auto;
    margin-bottom: 20px;
}

/* Footer Styles */
footer {
    background-color: rgb(11, 26, 236);
    color: rgb(25, 246, 157);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.footer-links {
    margin-left: auto;
}

.footer-links a {
    color: rgb(21, 247, 81);
    text-decoration: none;
    margin-left: 15px;
    font-size: 16px;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: rgb(13, 240, 13);
}

/* Navigation Styles */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center; /* Center align the navigation links */
    margin: 0;
    padding: 10px 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(20, 172, 242);
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: rgb(13, 240, 13);
}

/* Center Text Utility */
.center-text {
    text-align: center;
    margin-top: 20px;
}